# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Don't add .env
.env
.env.*
!.env.example

# TypeScript
*.tsbuildinfo

# Vite
.vite/

# Coverage
coverage/

# Prisma
apps/api/src/generated/prisma

# SQLite database
apps/api/prisma/dev.db
apps/api/prisma/dev.db-journal